<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CsDebugScript.ClrMdProvider" version="1.4.0.355" targetFramework="net472" />
  <package id="CsDebugScript.DbgEng" version="1.4.0.355" targetFramework="net472" />
  <package id="CsDebugScript.DiaSymbolProvider" version="1.4.0.355" targetFramework="net472" />
  <package id="CsDebugScript.Drawing.Interfaces" version="1.4.0.355" targetFramework="net472" />
  <package id="CsDebugScript.Engine" version="1.4.0.355" targetFramework="net472" />
  <package id="DebugHelp" version="0.4.3" targetFramework="net472" />
  <package id="DIA" version="1.0.2" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.4.0" targetFramework="net472" />
  <package id="Microsoft.Debugging.Platform.DbgX" version="20230802.2.0" targetFramework="net472" />
  <package id="Microsoft.Debugging.Platform.SrcSrv" version="20230602.930.0" targetFramework="net472" />
  <package id="Microsoft.Debugging.Platform.SymSrv" version="20230602.930.0" targetFramework="net472" />
  <package id="System.Dynamic.Runtime" version="4.3.0" targetFramework="net472" />
  <package id="System.IO.FileSystem" version="4.3.0" targetFramework="net472" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.IO.MemoryMappedFiles" version="4.3.0" targetFramework="net472" />
  <package id="System.IO.UnmanagedMemoryStream" version="4.3.0" targetFramework="net472" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net472" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net472" />
  <package id="System.Reflection.TypeExtensions" version="4.4.0" targetFramework="net472" />
</packages>